* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    list-style: none;
    text-decoration: none;
    font-family: 'Gowun Dodum', sans-serif;
}

body {
    background-color: rgb(245, 245, 245);
}

header {
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 75px;
    padding: 0px 300px;
    color: white;
    background: white;

    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #E4E4E4;
}

.logo {
    width: 40%;
    padding-left: 140px;
}

.search {
    position: relative;
    right: 120px;
    width: 26%;
}

.search>input {
    width: 100%;
    background-color: rgb(233, 233, 233);
    border: 1px #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 12px;
}

.search>img {
    position: absolute;
    width: 5%;
    top: 10px;
    right: 12px;
    margin: 0;
}

.icons {
    position: relative;
    right: 100px;
    display: flex;
    padding: 15px;
}

.icons>li>a {
    padding: 10px;
}

/* 네비바 끝 */

.story_01 {
    display: flex;
    justify-content: space-around;
    margin-top: 6%;
    margin-left: 23%;
    padding-bottom: 2%;

    border: 2px solid rgb(219, 219, 219);
    width: 37%;
    height: 30%;
    background-color: white;
}

.story_02>a {
    text-decoration: none;
}

.story_02 {
    width: 50px;
    height: 50px;
    /* border-radius: 50%; */

    margin-top: 10px;
    height: 70px;
    width: 10%;
    text-align: center;

    /* overflow: hidden; */
}

.story_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.font {
    font-size: 12px;
    color: black;
    margin-top: 8px;
    overflow: hidden;
}

.card,
.list-group-item {
    position: inherit;
}

.card {
    display: flex;
    justify-content: left;
    margin-left: 23%;
    margin-top: 1%;

    width: 37%;
}

.card_02 {
    display: flex;
    float: left;
}

.card a {
    color: black;
    text-decoration: none;
}

.card_img {
    background-image: url(./dog.jpg);
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card_03 {
    display: flex;
    align-items: center;
}

.card_font {
    font-size: 15px;
    margin-top: 13px;
    margin-left: 20px;
}

.card_dot {
    position: relative;
    left: 520px;
    /* padding-left: 520px; */
}

.card-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show-2 {
    width: 60%;
}

.more {
    font-size: 12px;
    color: #9E9E9E;
}

footer {
    position: fixed;
    width: 15%;
    height: 100%;
    margin-left: 1160px;
}

.side {
    width: auto;
    height: auto;
    padding-top: 12px;
    display: flex;
    align-items: center;
}

.side-img {

    width: 65px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}

.side-name {
    padding-left: 15px;
    font-size: 13px;
}

.side-name :nth-child(1) {
    /* font-weight: bolder; */
    text-decoration: none;
}

.side-name :nth-child(3) {
    color: #8E8E8E;
}

.side-change {
    margin-left: 134px;
    font-weight: bolder;
    font-size: 13px;

}

.side-change>a {
    color: #0096f6;
    text-decoration: none;
}

.side-2 {
    padding-top: 3%;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding-bottom: 7%;
}

.side-2>span {
    font-weight: bolder;
    color: #8E8E8E;
}

.side-2>a {
    text-decoration: none;
    color: black;
}

.side-3 {
    width: auto;
    height: auto;

    display: flex;
    align-items: center;
    padding-top: 5px;
}

.side-smimg {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.side-smname {
    padding-left: 15px;
    font-size: 12px;
}

.side-smname :nth-child(1) {
    /* font-weight: bolder; */
    text-decoration: none;
}

.side-smname :nth-child(3) {
    color: #8E8E8E;
}

.side-smchange {
    margin-left: 59px;
    font-weight: bolder;
    font-size: 12px;
    text-decoration: none;
}

.side-smchange a {
    color: #0096f6;
    text-decoration: none;
}

.side-4 {
    padding-top: 20px;
}

.side-4 a {
    font-weight: bolder;
    font-size: 12px;
    color: #c7c7c7;
    text-decoration: none;
}

.side-5 {
    font-weight: bolder;
    font-size: 12px;
    color: #c7c7c7;
}


/* 모달 start */

.container {
    width: 100%;
    z-index: 1;
}

.modal-box {
    width: 100%;
    text-align: center;
}

.modal-icon {
    float: right;          /* ? 왜 표시가 뜨지  왜에에에엥[ㅇ[ㅇ[[[[[ㅔ*/

    display: inline-block;
    width: 35px;
    height: 35px;

    cursor: pointer;
}

.popup-wrap {
    background-color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    padding: 15px;
}

.popup {
    width: 100%;
    max-width: 400px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;

    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}


.popup-body {
    width: 100%;
    background-color: #ffffff;
}

.body-content {
    width: 100%;
    padding: 10px;
}

.body-contentbox {
    min-height: 100px;
    max-height: 500px;
}

.body-content div {
    cursor: pointer;
    font-size: 15px;
}

.red {
    color: red;
}

.body-contentbox>div {
    border-bottom: 1px solid #dddbdb;
    width: auto;
    text-align: center;
    padding: 3%;
}

.card-btn {
    border: none;
    color: #0096f6;
    outline: none;
    background-color: white;
    float: right;
}

.card-btn:hover {
    color: #00d1f6;
}

.card-modal {
    font-size: 14px;
    color: #9E9E9E;
}

/* 모달 start */